@import "../scss2/animaciones";
@import "../scss2/mixins";
@import "../scss2/variables";

// PARA EXTEND DE INPUT
.input{
    padding: 10px;
    height: 40px;    
    color: $color-naranja;
    background-color: $color-amarillo;
    border-radius: 20px;
    outline: none;
    border: none;
    text-transform: none;
    @include textos ($color-naranja, $font2, 20px, bold, left);

}


.main-contacto{
    .titulo-contacto{
        margin: 100px;
        @include textos ($color-azul, $font1, 6vw, bold, center);
    }
    .flex-contacto{
        @include section-index ($background-color);
        .formulario-contacto{
            width: 50%;
            @media screen and (max-width: 700px){
                width: 100%;
                margin-bottom: 20px;
            }
            .formulario-contacto-fieldset{
            border: none;
            display: grid;
            grid-template-columns: 1fr 80px;
            grid-template-areas: 
            "label-nombre label-nombre"
            "nombre nombre"
            "label-email label-email"
            "email email"
            "label-telefono label-telefono"
            "telefono telefono"
            "label-mensaje label-mensaje"
            "mensaje mensaje"
            "none enviar";
            gap: 5px;
                .label-nombre{
                    grid-area: label-nombre;
                }
                .label-email{
                    grid-area: label-email;
                }
                .label-telefono{
                    grid-area: label-telefono;
                }
                .label-mensaje{
                    grid-area: label-mensaje;
                }
                label{
                    text-align: left;
                    padding-left: 10px;
                    @include textos ($color-azul, $font1, 15px, normal, left);
                }
                #nombre{
                    grid-area: nombre;
                    @extend .input
                }
                #email{
                    grid-area: email;
                    @extend .input
                }
                #telefono{
                    grid-area: telefono;
                    @extend .input
                }
                #mensaje{
                    grid-area: mensaje;
                    @extend .input;
                    height: 150px;
                }
                #enviar{
                    grid-area: enviar;
                    background-color: $color-naranja;
                    color: $color-claro;
                    margin: 10px;
                    width: 80px;
                    height: 40px;
                    border: none;
                    border-radius: 20px;
                }
            }
        }
        .imagen-form{
        width: 200px;
        }
    }
}






