@import "../scss2/animaciones";
@import "../scss2/mixins";
@import "../scss2/variables";

.main-index{
    padding: 50px 0px 200px;
    background-color: $color-azul;
    @include flexbox (row, center, center, wrap);
    @media screen and (max-width: 750px){
        @include flexbox (column, center,  center, wrap-reverse );
        padding: 50px 0px;
    }
    div{
        width: 50%;
        @include flexbox (column, center, center, nowrap);
        h1{
            @include textos ($color-claro, $font1, 100px, bold, center);
            @media screen and (max-width: 800px){
                font-size: 80px;
            }
        }
        .boton{
            @include boton ($color-amarillo, 0px auto, $color-naranja);
            @include textos ($color-claro, $font1, 30px, bold, center);
        }
    }
}

.section-aplicacion{
    @include section-index ($color-naranja);
    .div-info{
        width: 45%;
        padding-left: 30px;
        @include flexbox (column, center, flex-start, nowrap);
        width: 45%;
        @media screen and (max-width: 700px){
            width: 70%;
        }
        h2{
            @include textos ($color-claro, $font1, 50px, bold, normal);
            @media screen and (max-width: 800px){
                font-size: 40px;
            }
        }
        ul {
            li{
                @include textos ($color-claro, $font2, 30px, bold, normal);
                @media screen and (max-width: 800px){
                    font-size: 20px;
                }
            }
            .li-1{
                @include animacion (checklist1, 3s, 0s, infinite);
            }
            .li-2{
                @include animacion (checklist2, 3s, 0s, infinite);
            }
            .li-3{
                @include animacion (checklist3, 3s, 0s, infinite);
            }
            .li-4{
                @include animacion (checklist4, 3s, 0s, infinite);
            }
        }
    }
}
.animacion {
    width: 400px;
    height: 500px;
    @include animacion (cambio-imagenes, 10s, 0s, infinite);
}

.section-somos{
    @include section-index ($background-color);
    img{
        width: 25%;
        @include animacion (rotar, 1s, 0s, infinite);
        @media screen and (max-width: 700px){
            width: 70%;
            margin: 20px;
        }
    }
    .div-info{
        width: 45%;
        @media screen and (max-width: 700px){
            width: 70%;
        }
        @include flexbox (column, center, center, nowrap);
        p{
            @include textos ($color-azul, $font2, 20px, normal, center);
            text-transform: none;
            strong{
                font-weight: bolder;
            }
        }
        .boton{
            @include boton ($color-amarillo, 0px auto, $color-naranja);
            @include textos ($color-claro, $font1, 30px, bold, center);
        }
    }
}

.section-como-ayudar{
    @include section-index ($color-amarillo);
    .div-info {
        width: 45%;
        @media screen and (max-width: 700px){
            width: 70%;
        }
        @include flexbox (column, center, center, nowrap);
        h2{
            @include textos ($color-claro, $font1, 50px, normal, center);
            @media screen and (max-width: 800px){
                font-size: 40px;
            }
        }
        .boton{
            @include boton ($color-naranja, 0px auto, $color-lila);
            @include textos ($color-claro, $font1, 30px, bold, center);
        }
    }
    img{
        width: 25%;
        margin: 10px;
        @include animacion (rotar, 1s, 0s, infinite);
        border-radius: 50%;
        @media screen and (max-width: 700px){
            width: 70%;
            margin: 20px;
        }
    }
}



.section-formar-parte{
    margin-top: 100px;
    padding: 100px 0px;
    background-color: $color-azul;
    h3{
        width: 60%;
        margin: auto;
        @include textos ($color-claro, $font1, 50px, bold, center);
        @media screen and (max-width: 800px){
            width: 90%;
            font-size: 30px;
        }
    }
    .flex-botones{
        @include flexbox (column, center, center, nowrap);
        .boton{
            @include boton ($color-amarillo, 10px auto, $color-naranja);
            @include textos ($color-claro, $font2, 15px, bold, center);
            padding: 10px 20px;
            @media screen and (max-width: 500px){
                font-size: 10px;
            }
            img{
                    margin-left: 10px;
                    width: 40px;
                    @include animacion (rotar, 1s, 0s, infinite);
                }
        }
        
    }
}