@import "../scss2/animaciones";
@import "../scss2/mixins";
@import "../scss2/variables";

.main-index{
    padding: 80px 0px;
    background-color: $color-azul;
    @include flexbox (row, space-evenly, center, wrap);
    .div-titulo-index{
        @include flexbox (column, center, center, nowrap);
        h1{
            @include textos ($color-claro, $font1, 6vw, bold, center);
            white-space: pre-wrap
        }
        .boton{
            @include boton ($color-amarillo, 0px auto, $color-naranja);
            @include textos ($color-claro, $font1, 20px, bold, center);
        }
    }
    .div-imagen-index{
        width: 20%;
        img{
        width: 100%;
        margin: auto
        }
    }
    
}

.section-aplicacion{
    @include section-index ($color-naranja);
    .div-info{
        width: 45%;
        padding-left: 30px;
        @include flexbox (column, center, flex-start, nowrap);
        @media screen and (max-width: 700px){
            width: 70%;
            margin: auto;
            padding: 0;
            @include flexbox (column, center, center, nowrap);
        }
        h2{
            @include textos ($color-claro, $font1, 5vw, bold, normal);
            }
        }
        ul {
            li{
                list-style: circle;
                @include textos ($color-claro, $font2, 20px, bold, normal);
                @media screen and (max-width: 400px){
                    font-size: 3vw;
                }
            }
            .li-1{
                list-style: circle;
                @include animacion (checklist1, 4s, 0s, infinite);
            }
            .li-2{
                list-style: circle;
                @include animacion (checklist2, 4s, 0s, infinite);
            }
            .li-3{
                list-style: circle;
                @include animacion (checklist3, 4s, 0s, infinite);
            }
            .li-4{
                list-style: circle;
                @include animacion (checklist4, 4s, 0s, infinite);
            }
        }
    }

.animacion {
    width: 40vw;
    height: 500px;
    @include animacion (cambio-imagenes, 10s, 0s, infinite);
    @media screen and (max-width: 700px){
        width: 70vw;
        height: 500px;
        margin: 20px 0px;
    }
}

.section-somos{
    @include section-index ($background-color);
    img{
        width: 25%;
        @include animacion (rotar, 1s, 0s, infinite);
        @media screen and (max-width: 700px){
            width: 70%;
            margin: 20px;
        }
    }
    .div-info{
        width: 45%;
        @media screen and (max-width: 700px){
            width: 70%;
        }
        @include flexbox (column, center, center, nowrap);
        p{
            @include textos ($color-azul, $font2, 20px, normal, center);
            text-transform: none;
            strong{
                font-weight: bolder;
            }
        }
        .boton{
            @include boton ($color-amarillo, 0px auto, $color-naranja);
            @include textos ($color-claro, $font1, 20px, bold, center);
        }
    }
}

.section-como-ayudar{
    @include section-index ($color-amarillo);
    .div-info {
        width: 45%;
        @media screen and (max-width: 700px){
            width: 70%;
        }
        @include flexbox (column, center, center, nowrap);
        h2{
            @include textos ($color-claro, $font1, 4vw, normal, center);
            white-space: pre-wrap;
        }
        .boton{
            @include boton ($color-naranja, 0px auto, $color-lila);
            @include textos ($color-claro, $font1, 20px, bold, center);
        }
    }
    img{
        width: 25%;
        margin: 10px;
        @include animacion (rotar, 1s, 0s, infinite);
        border-radius: 50%;
        @media screen and (max-width: 700px){
            width: 70%;
            margin: 20px;
        }
    }
}



.section-formar-parte{
    margin-top: 100px;
    padding: 100px 0px;
    background-color: $color-azul;
    h3{
        width: 60%;
        margin: auto;
        @include textos ($color-claro, $font1, 4vw, bold, center);
        @media screen and (max-width: 800px){
            width: 90%;
        }
    }
    .flex-botones{
        @include flexbox (column, center, center, nowrap);
        .boton{
            @include boton ($color-amarillo, 10px auto, $color-naranja);
            @include textos ($color-claro, $font2, 20px, bold, center);
            text-transform: none;
            padding: 10px 20px;
            img{
                    margin-left: 10px;
                    width: 30px;
                }
        }
        
    }
}
