
// @include flexbox ($direction, $justificado, $alineado-items, $wrap);
@mixin flexbox ($direction, $justificado, $alineado-items, $wrap){
    display:flex;
    flex-direction: $direction;
    justify-content: $justificado;
    align-items: $alineado-items;
    flex-wrap: $wrap;
}


// @include animacion ($name, $duration, $delay, $iteration-count);
@mixin animacion ($name, $duration, $delay, $iteration-count){
    animation-name: $name;
    animation-duration: $duration;
    animation-delay: $delay;
    animation-iteration-count: $iteration-count;
}


//  @include textos ($color, $family, $size, $weight, $align);
@mixin textos ($color, $family, $size, $weight, $align){
    color: $color;
    font-family: $family;
    font-size: $size;
    font-weight: $weight;
    text-align: $align;
}

// @include boton ($background, $margin, $color-hover);
@mixin boton ($background, $margin, $color-hover) {
    color: $color-claro;
    font-family: $font1;
    font-size: 30px;
    font-weight: bold;
    text-align: center;
    background-color: $background;
    border-radius: 30px;
    padding: 10px;
    margin: $margin;
    transition: 0.2s;
    text-decoration: none;
    &:hover{
        background-color: $color-hover;
    }
    // @media screen and (max-width: 700px){
    //     font-size: 20px;
    // }
}


// @include section-index ($background);
@mixin section-index ($background){
    background-color: $background;
    width: 90%;
    height: fit-content;
    margin: 100px auto;
    padding: 50px 0px;
    border-radius: 30px;
    @include flexbox (row, space-around, center, nowrap);
    @media screen and (max-width: 700px){
        @include flexbox (column, center, center, nowrap);
    }
}