// PALETA DE COLORES
$background-color: #e6e6e6;
$color-azul: #326be2;
$color-naranja: #ff6600;
$color-amarillo: #eec144;
$color-lila: #cac7f9;
$color-claro: #fff;
$font1:'Poppins';
$font2:'Quicksand';